// Theme dark
$primaryBackgroundColorOne: #3a4663;
$secondaryBackgroundColorOne: #181f33;
$tertiaryBackgroundColorOne: #242d44;
$textColorOne: #ffffff;
$numbersColorOne: #434a59;
$buttonsColorOne: #eae3dc;
$buttonsColorHoverOne: #ffffff;
$secondaryButtonsColorOne: #647198;
$secondaryButtonsColorHoverOne: #a2b2e1;
$tertiaryButtonsColorOne: #d03f2f;
$tertiaryButtonsColorHoverOne: #f96b5b;
$backgroundShadowOne: #b3a497;
$backgroundShadowBlueOne: #414e73;
$backgroundShadowRedOne: #93261a;

// Theme light
$primaryBackgroundColorTwo: #e5e4e1;
$secondaryBackgroundColorTwo: #eeeeee;
$tertiaryBackgroundColorTwo: #d2cdcd;
$textColorOne: #ffffff;
$textColorTwo: #36362c;
$numbersColorTwo: #36362c;
$buttonsColorTwo: #e5e4e1;
$buttonsColorHoverTwo: #ffffff;
$secondaryButtonsColorTwo: #378187;
$secondaryButtonsColorHoverTwo: #62b5bc;
$tertiaryButtonsColorTwo: #c85402;
$tertiaryButtonsColorHoverTwo: #ff8a38;
$backgroundShadowTwo: #a79e91;
$backgroundShadowBlueTwo: #1b6066;
$backgroundShadowRedTwo: #873901;

// Theme Purple
$primaryBackgroundColorThree: #17062a;
$secondaryBackgroundColorThree: #1e0936;
$tertiaryBackgroundColorThree: #1e0936;
$textColorOne: #ffffff;
$textColorThree: #ffe53d;
$numbersColorThree: #ffe53d;
$numbersColorBlack: #1a2327;
$buttonsColorThree: #331c4d;
$buttonsColorHoverThree: #6c34ac;
$secondaryButtonsColorThree: #56077c;
$secondaryButtonsColorHoverThree: #8631af;
$tertiaryButtonsColorThree: #00ded0;
$tertiaryButtonsColorHoverThree: #93fff8;
$backgroundShadowThree: #881c9e;
$backgroundShadowBlueThree: #be15f4;
$backgroundShadowRedThree: #6cf9f1;
