@import '_variables.scss';
@import '_mixins.scss';

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Spartan', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    header {
        margin-top: 28px;
        width: 327px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 32px;
        @media (min-width: 600px) {
            width: 540px;
            margin-top: 96px;
        }
        h1 {
            font-size: 32px;
            letter-spacing: -0.53px;
            font-weight: bold;
        }
        .theme {
            position: relative;
            display: flex;
            align-items: flex-end;
            h2 {
                font-size: 12px;
                letter-spacing: 1px;
                font-weight: bold;
                margin-right: 21px;
                margin-bottom: 5px;
            }
            input {
                -webkit-appearance: none;
                width: 71px;
                height: 26px;
                border-radius: 13px;
                border: none;
                outline: none;
                cursor: pointer;
                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    height: 16px;
                    width: 16px;
                    border-radius: 50%;
                }
                &::-webkit-slider-runnable-track {
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }
            p {
                position: absolute;
                top: -5px;
                right: 2px;
                font-size: 12px;
                letter-spacing: 6px;
            }
        }
    }
    main {
        .result {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 327px;
            height: 88px;
            border-radius: 10px;
            margin-bottom: 24px;
            padding-right: 24px;
            @media (min-width: 600px) {
                padding-right: 32px;
                width: 540px;
                height: 128px;
            }
            div {
                font-size: 32px;
                letter-spacing: -0.53px;
                font-weight: bold;
            }
            .current-operand {
                padding-left: 10px;
            }
        }
        .keypad {
            display: flex;
            flex-wrap: wrap;
            gap: 13px;
            padding: 24px;
            width: 327px;
            height: 420px;
            border-radius: 10px;
            margin-bottom: 31px;
            @media (min-width: 600px) {
                width: 540px;
                height: 480px;
                padding: 30px;
                gap: 24px;
            }
            .number {
                font-family: 'Spartan', sans-serif;
                border: none;
                font-size: 28px;
                display: flex;
                border-radius: 5px;
                align-items: center;
                justify-content: center;
                height: 64px;
                width: 60px;
                @media (min-width: 600px) {
                    width: 101px;
                }
            }
            .large {
                font-size: 16px;
                width: 133px;
                @media (min-width: 600px) {
                    width: 227px;
                    font-size: 20px;
                }
            }
            .blue {
                font-size: 16px;
            }
        }
    }
}

.light {
    @include light;
}

.dark {
    @include dark;
}

.purple {
    @include purple;
}
